{% extends 'base.html.twig' %}

{% block title %} Toutes les recettes {% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta dolor error labore magnam quidem, quis tenetur voluptatem. A atque commodi dolores eligendi,
    facere nostrum quas reiciendis repellat sapiente voluptatibus.

    <ul>
        <li>

            <a href="{{ url('recipe.show', {id : 32, slug : 'pate-bolognaise'}) }}">Pâtes bolognaise</a>

        </li>




    </ul>
{% endblock %}
